*{
    margin: 0;
}
body{
    color: white;
    background-color: rgb(47, 47, 47);
    animation: backgroundani 10s infinite linear;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    user-select: none;
}

.text > div{
    font-size: 4rem;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 10px;
    color: #00f;
    animation: rgb 10s infinite linear;
}
@keyframes rgb {
    70%{
        color: #0f0;
    }
}
@keyframes backgroundani {
    70%{
        background-color: rgb(27, 27, 27);
    }
}


.footercss{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 3% 0;
    width: auto
}
.footerdiv{
    color: white;
    border: solid rgba(255,255,255,.25);
    border-width: 4px 0;
    border-radius: 10px;
    text-align: center;
}
h2{
    margin: 10px;
}
a{
    text-decoration: none; 
    color: #00f;
    animation: atag 10s infinite linear;
}
/* a:hover{
    color: #00a96b;
} */
@keyframes atag {
    70%{
        color: #0f0;
    }
}
@media screen and (max-width: 489px) {
    .text > div{
        font-size: 3rem;
        letter-spacing: 7px;
    }
    .footerdiv{
        width: 80%;
    }   
}
@media screen and (max-width: 350px) {
    .text > div{
        font-size: 2rem;
        letter-spacing: 5px;
    }
    .footerdiv{
        width: 80%;
    }   
}