*{
    margin: 0;
}
body{
    color: white;
    background-color: rgb(56, 56, 56);
    animation: backgroundani 6s infinite linear;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.text > div{
    font-size: 4rem;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 10px;
    color: #00f;
    animation: rgb 6s infinite linear;
}
@keyframes rgb {
    70%{
        color: #0f0;
    }
}
@keyframes backgroundani {
    70%{
        background-color: rgb(27, 27, 27);
    }
}